<div id="parent">
    <div id="list-friend">
        <div id="info" style="background-color: bisque; height: 70px;">
            <app-user-info></app-user-info>
        </div>
        <div id="friend" style="background-color: brown;">
            <app-friend-list></app-friend-list>
        </div>
    </div>
    <div id="chat-box">
        <div id="chatting" style="background-color: chocolate;">
            <app-chat-box></app-chat-box>
        </div>
        <div id="chattype" style="background-color: cadetblue;">
            <app-chat-control></app-chat-control>
        </div>
    </div>
</div>