<div id="chatBox" *ngIf="friendship">
  <span id="messBox" *ngFor="let message of messageService.messages | async">
    <div id="f-email">
      <div id="inner1">
        <span id="bubble" *ngIf="message.senderEmail == friendship.friendEmail">
        
          {{ message.content }}
          
        </span>
      </div>
      <div id="outer1 "></div>
      
      
    </div>
    <div id="m-email">
      <div id="outer"></div>
      <div id="inner">
        <span id="bubble"  *ngIf="message.senderEmail == myEmail">
          {{ message.content }}
        </span>
      </div>
    </div>
  </span>
</div>
<div *ngIf="!friendship">
  <h2 style="text-align: center; color: rgb(0, 0, 0);">Thêm bạn mới hoặc chọn bạn từ danh sách</h2>
</div>
